opencv-python
ffmpeg libsm6 libxext6  -y
opencv-python-headless
libgl1
timm
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.4
pycocoevalcap==1.2
pytorch_lightning
einops
datasets
rouge_score
googletrans==4.0.0rc1
gTTS
