-e ./fairseq/
opencv_python3
opencv-python-headless
ffmpeg libsm6 libxext6 anycodings_deepnote libgl1-mesa-dev
timm
ftfy==6.0.3
tensorboardX==2.4.1
pycocotools==2.0.4
pycocoevalcap==1.2
pytorch_lightning
einops
datasets
rouge_score
googletrans==4.0.0rc1
gTTS
